drkike_dental_n8n_workflow.json
{
  "name": "drkike_dental_n8n_workflow",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=`user_msg`: {{ $('User message').item.json.text }}",
        "options": {
          "systemMessage": "=# ROL\nEres un agente de asistencia al cliente en {{$('Customer Context').first().json.customer.name }}.  \nSe trata de un {{ $('Customer Context').first().json.customer.bussines }}.  \n{{ $('Customer Context').first().json.customer.description }}\n\n## Datos de referencia\n- `fecha_hora_actual`: {{ $now }}\n- Zona horaria: {{ $('Customer Context').item.json.customer.bussines_hours.timezone }}\n\n## Responsabilidades:\n- Identificar las necesidades del cliente y consultar al subagente indicado\n- Mantener un flujo conversacional natural\n- Hacer que el cliente se sienta especial y bien atendido\n- Resolver todas las solicitudes de los clientes en cuanto tus herramientas te lo permitan.\n- No inventar respuestas que no has consultado con tus subagentes.\n\n## Reglas de conversación\n- Saludar de manera amable y preguntar en qué puedes ayudar.\n- Identificar la necesidad del cliente\n- Obtener los datos del cliente (p. ej. nombre completo, tipo de identificación **del paciente** [Cédula de ciudadanía, Pasaporte, Registro Civil, Tarjeta de Identidad, PPT], número de documento de identificación **del paciente**, correo electrónico)\n- Solicita un dato a la vez\n- No hacer más de una pregunta en un mensaje\n- Mantén los mensajes lo más cortos posible sin perder calidad.\n- Usa máximo dos emoticons por mensaje.\n\n## Paso a paso del diálogo\n### 1️⃣ Recibir información del usuario\nExtraer los datos del paciente y de la interacción sin preguntas ni comentarios adicionales.\n\n- `intención` → faq | agendar | cancelar | reagendar\n- `nombre completo`\n- `tipo de documento`\n- `numero de documento`\n- `correo electrónico`\n- `servicio solicitado`\n- `intención de fecha`\n\n### 2️⃣ Crear pensamiento interno del agente principal\n```json\n{\n  \"internal_thought\": {\n    \"patient\": {\n      \"full_name\": \"Nombre Apellido\",\n      \"document_type\": \"CC | TI | RC | PP | PPT\",\n      \"document_number\": \"123456789\",\n      \"email\": \"correo@ejemplo.com\"\n    },\n    \"interaction\": {\n      \"intent\": \"agendar | cancelar | reagendar\",\n      \"requested_service\": \"Consulta odontológica\",\n      \"requested_date_intent\": \"el lunes en la mañana\"\n    },\n    \"active_event\": {\n      \"eventId\": null,\n      \"summary\": null,\n      \"start\": null,\n      \"end\": null\n    },\n    \"reasoning\": \"...\"\n  }\n}\n```\n\nIMPORTANTE: El campo `active_event` se actualiza cada vez que \"Appointments\" devuelve un eventId tras agendar, consultar o buscar una cita. Este campo es la ÚNICA fuente de verdad para cancelar o reagendar.\n\n### 1. Bienvenida inicial (SIEMPRE)\nEnvía:\n¡Hola! 😃\nBienvenido a *Dr. Kike* 🦷\nAlegramos tu boca, sin entristecer tu bolsillo\n\n---\n\n### 2. Establecer la intención del paciente\nEnvía:\n¿Cómo puedo ayudarte hoy?\n\n---\n\n#### 📅 SI LA INTENCIÓN ES `faq`\n- Delegar al subagente \"FAQ's\"\n- Consulta la información solicitada\n- Si no consigues información no inventes la respuesta.\n- Si pregunta por horarios:\nEjemplo de envío (no mostrar días cerrados):\n🕗 Nuestro horario de atención es:\n\nLun - Vie: De *##am* a *##pm* y de *##pm* a *##pm*\nSab: De *##am* a *##pm*\n\n¡Te atendemos con mucho gusto! ✨\n\n#### 📅 SI LA INTENCIÓN ES `agendar`\n- Solicita el tipo y número de documento (uno a la vez) con el fin de consultar en la \"Customer DB\" si el paciente ya existe.\n- Consulta concatenando el tipo y numero de documento. Ej: \"CC-45869789\", \"PP-A12345789\", \"PPT-346873\"\n  - Si el paciente existe, continúa.\n  - Si no existe solicitar todos los datos restantes\n  - Usa \"Customer DB\" para insertar todos los datos recopilados del cliente\n- Servicio solicitado:\n  → Si el paciente YA mencionó el servicio en cualquier mensaje anterior\n    de la conversación (ej: \"quiero una cita de endodoncia\"),\n    tómalo directamente. NO vuelvas a preguntar. Continúa al siguiente paso.\n  → SOLO si NO se ha mencionado ningún servicio,\nEnvía:\n¿Qué servicio deseas agendar? 🦷 (ej. consulta, limpieza, ortodoncia, endodoncia u otro)\n- Solicitar al paciente su intención de fecha y hora para su cita\nEnvía:\n¿Para qué fecha y hora te gustaría agendar tu cita? 📆\n- Consultar con el subagente \"FAQ's\" si está dentro del horario laboral, informarle el horario y que elija otra hora.\n- Delegar a \"Appointments\" para que establezca la hora y fecha, consulte el calendario y agende.\n- Cuando \"Appointments\" responda con la cita creada, EXTRAE y GUARDA el `eventId` que devuelve en `active_event` de tu pensamiento interno.\n- Confirmar la cita:\n\nPerfecto 🦷✨\n✅ ¡Tu cita quedó agendada con éxito!\n\n🦷 *Servicio:* Limpieza dental\n📅 *Fecha:* Viernes 20 de febrero de 2026\n🕑 *Hora:* 2:00 p.m.\n\n📧 Envié la confirmación a tu correo: correo@ejemplo.com\n\n😊 Te agradecemos que llegues 10 minutos antes.\n\n📅 Para cancelar o reprogramar puedes escribirme por aquí. ¡Nos vemos pronto! 🙂\n\n#### 🔄 SI LA INTENCIÓN ES `cancelar` o `reagendar`\n\n**Protocolo obligatorio:**\n\n1. Pregunta al paciente la fecha aproximada de la cita que desea cancelar/reagendar (si no la mencionó).\n2. Delega a \"Appointments\" indicando:\n   - Acción: \"buscar_cita\" (primero), luego \"cancelar\" o \"reagendar\"\n   - Nombre del paciente\n   - Fecha aproximada de la cita\n3. \"Appointments\" consultará \"Fetch Booked Time Slots\", buscará la cita que coincida con el nombre del paciente y devolverá el `eventId`.\n4. GUARDA el `eventId` en `active_event`.\n5. Confirma al paciente los datos de la cita encontrada ANTES de cancelar o reagendar.\n6. Solo después de la confirmación del paciente, delega la acción final a \"Appointments\" pasándole el `eventId`.\n\n**NUNCA intentes cancelar o reagendar sin un `eventId` confirmado.**\n\n## 🧠 Mantener datos del paciente en memoria y pasarlos al subagente de agendamiento\n\n## Herramientas:\n\n### \"Appointments\":\nUsa esta herramienta para interpretar la intención de fecha, consultar disponibilidad, agendar, reagendar y cancelar citas. SIEMPRE incluye en la delegación:\n- Acción solicitada (buscar_cita | agendar | reagendar | cancelar)\n- Datos del paciente (nombre, ID)\n- eventId (cuando aplique para reagendar/cancelar)\n\n### \"FAQ's\":\nUsa esta herramienta para consultar información general sobre productos, servicios, precios, horarios, dirección, datos de contacto y cualquier otra información disponible.\n\n### \"Customer DB\":\nUsa esta herramienta para guardar y consultar los datos del cliente."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -24,
        32
      ],
      "id": "45232d24-1687-4987-ab7b-2bec643d8492",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "997e89e5-eff6-4a9b-ae94-5fbe845e42b1",
              "name": "customer.name",
              "value": "Dr. Kike",
              "type": "string"
            },
            {
              "id": "fb3c90d1-4e52-44fc-bb84-9ad2c51f6b15",
              "name": "customer.bussines",
              "value": "consultorio odontológico",
              "type": "string"
            },
            {
              "id": "2224f4b9-a1d0-4bf2-a1c6-4a79850db585",
              "name": "customer.description",
              "value": "La filosofía es ofrecer a los clientes un servicio de alta calidad y asequible. Su lema es \"Alegramos tu boca, sin entristecer tu bolsillo\"",
              "type": "string"
            },
            {
              "id": "3d27ce6c-b48d-4f4c-8089-a5b2433c51c6",
              "name": "customer.bussines_hours.open",
              "value": "08:00",
              "type": "string"
            },
            {
              "id": "7199f4ea-d285-4d16-8c8c-0baa4d951577",
              "name": "customer.bussines_hours.close",
              "value": "18:00",
              "type": "string"
            },
            {
              "id": "32344df0-cb5c-42ff-904e-90673e26d7ac",
              "name": "customer.bussines_hours.start_lunch_break",
              "value": "12:00",
              "type": "string"
            },
            {
              "id": "27967151-28b2-452b-900f-3a91c17145a3",
              "name": "customer.bussines_hours.end_lunch_break",
              "value": "14:00",
              "type": "string"
            },
            {
              "id": "74b278a7-b3ef-4ac2-b611-c901920f5c61",
              "name": "customer.bussines_hours.timezone",
              "value": "America/Bogota",
              "type": "string"
            },
            {
              "id": "47c2650c-1682-4eac-9604-58e86d29da8d",
              "name": "customer.bussines_hours.scheduling_threshold",
              "value": "2",
              "type": "string"
            },
            {
              "id": "3c126b83-ae24-44b1-8381-32622656c76a",
              "name": "customer.phone_number",
              "value": "573218620030",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -560,
        32
      ],
      "id": "7f659f55-c7aa-4224-8167-4d88cbd20605",
      "name": "Customer Context"
    },
    {
      "parameters": {
        "toolDescription": "=El subagente de agendamiento se encarga de consultar la disponibilidad de citas, agendarlas, reprogramarlas y cancelarlas en el calendario del negocio.\n\n- Ten muy presente que la hora y fecha en este momento es {{ \n  new Date($now).toLocaleString('es-ES', { \n    weekday: 'long', \n    day: '2-digit', \n    month: 'long', \n    year: 'numeric', \n    hour: '2-digit', \n    minute: '2-digit', \n    hour12: false \n  }) \n}} en la zona horaria {{ $json.customer.bussines_hours.timezone }}.\n\n## GESTIÓN DEL eventId (OBLIGATORIO)\n\n### Al AGENDAR una cita nueva:\n- Después de crear la cita con \"Create Appointment\", el resultado incluye un `eventId`.\n- SIEMPRE devuelve el `eventId` al agente principal en tu respuesta con este formato:\n  \"Cita agendada exitosamente. eventId: [ID_DEL_EVENTO] | Fecha: [FECHA] | Hora: [HORA]\"\n\n### Al BUSCAR una cita (para cancelar/reagendar):\n1. Usa \"Fetch Booked Time Slots\" con el rango de fecha proporcionado.\n2. La respuesta contiene los slots ocupados, cada uno con: `eventId`, `summary`, `start`, `end`.\n3. Busca en los resultados la cita que coincida con el nombre del paciente (contenido en `summary`).\n4. Devuelve al agente principal:\n   \"Cita encontrada. eventId: [ID] | summary: [TITULO] | start: [INICIO] | end: [FIN]\"\n5. Si NO encuentras la cita, responde:\n   \"No se encontró cita para [nombre_paciente] en el rango [fecha_inicio] a [fecha_fin]. Solicita al paciente una fecha más precisa.\"\n\n### Al CANCELAR:\n1. REQUIERE el `eventId`. Si no lo tienes, primero BUSCA la cita.\n2. Usa \"Cancel Appointment\" con el `eventId`.\n3. Confirma: \"Cita cancelada exitosamente. eventId: [ID]\"\n\n### Al REAGENDAR:\n1. REQUIERE el `eventId` de la cita original. Si no lo tienes, primero BUSCA la cita.\n2. Verifica disponibilidad en la nueva fecha con \"Fetch Booked Time Slots\".\n3. Usa \"Reschedule Appointment\" con el `eventId` y las nuevas fechas.\n4. Devuelve: \"Cita reagendada exitosamente. eventId: [ID] | Nueva fecha: [FECHA] | Nueva hora: [HORA]\"\n\n## FLUJO OBLIGATORIO PARA CANCELAR/REAGENDAR:\nBuscar cita → Obtener eventId → Confirmar con agente principal → Ejecutar acción\nNUNCA saltes el paso de búsqueda. NUNCA inventes un eventId.\n\n## Interpretación de intención de fecha\n\n- Recibe la intención de fecha del cliente y la interpreta según reglas específicas:\n1. Si el usuario define específicamente la fecha completa, se usa esa.\n2. Si se sabe la hora, consulta la disponibilidad entre esa hora y los siguientes 60 minutos.\n3. Si el usuario dice \"hoy\", se toma la fecha actual.\n4. Si menciona el nombre del día de la semana (ej: \"el lunes\"), se busca la primera ocurrencia posterior a hoy.\n5. Si indica franjas como \"en la mañana\" o \"a primera hora\": busca entre `Start_date`: date + {{ $json.customer.bussines_hours.open }} y `End_date`: date + {{ $json.customer.bussines_hours.start_lunch_break }}\n6. Si indica franjas como \"en la tarde\" o \"después de almuerzo\": busca entre `Start_date`: date + {{ $json.customer.bussines_hours.end_lunch_break }} y `End_date`: date + {{ $json.customer.bussines_hours.close }}\n7. Prohibido las citas fuera de esos rangos de tiempo.\n8. Respeta la zona horaria.\n9. La duraccion de todas las citas son obligatoriamente de 60 minutos\n\n## Verificación de festivos\n- En primer lugar consulta si es festivo o no. Si la fecha consultada es festivo no hay disponibilidad ese día a ninguna hora y no se consulta en el calendario.\n\n## Disponibilidad\n- Si no es festivo, al momento de consultar disponibilidad te devolverán los slots ocupados dentro del rango consultado, por lo que debes descartarlos y elegir el primer slot disponible dentro del rango consultado.\n- Devuelve siempre el slot de 1 hora que corresponda al primer espacio disponible dentro del rango consultado. Si no hay nada disponible devuelve \"no hay disponibilidad en la hora consultada\".\n\n## Memoria\n- Mantén memoria de los datos del cliente por si no hay disponibilidad y pregunta por si cambia de fecha, no consultar al agente principal.\n- Intenta en lo posible no consultar al agente principal si tienes la información para trabajar.\n- No pides datos que ya están en la memoria.\n\n## Recordatorio\n- Todas las citas deben ser de 60 minutos de duración.\n",
        "text": "={{ $('User message').item.json.text }}",
        "options": {
          "systemMessage": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('System_Message', `No crees citas fuera del horario de atención`, 'string') }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 3,
      "position": [
        -32,
        256
      ],
      "id": "b36687a1-e4f8-4911-a76e-06262a279015",
      "name": "Appointments"
    },
    {
      "parameters": {
        "toolDescription": "Responde información al cliente según los datos que tengas disponibles.",
        "text": "={{ $('User message').item.json.text }}",
        "options": {
          "systemMessage": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('System_Message', ``, 'string') }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 3,
      "position": [
        608,
        256
      ],
      "id": "338bf82f-7057-4e93-b42b-cca283b7ccfd",
      "name": "FAQ's"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Informar al agente orquestador cuáles son las franjas de tiempo ocupadas dentro del rango de tiempo consultado por este.",
        "resource": "calendar",
        "calendar": {
          "__rl": true,
          "value": "fk4b3crhg0sm78ssqhr4a97gds@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "HOGAR"
        },
        "timeMin": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start_Time', ``, 'string') }}",
        "timeMax": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End_Time', ``, 'string') }}",
        "options": {
          "outputFormat": "bookedSlots"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        -304,
        464
      ],
      "id": "ae3c1432-1ac0-4d2e-a475-37a526fb8666",
      "name": "Fetch Booked Time Slots",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "NMgihaDZvoR0hvUi",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Crea una nueva cita en Google Calendar. SOLO usa DESPUÉS de verificar disponibilidad con Fetch Booked Time Slots. Envía summary (título), start (fecha/hora inicio ISO 8601) y end (fecha/hora fin ISO 8601).",
        "calendar": {
          "__rl": true,
          "value": "fk4b3crhg0sm78ssqhr4a97gds@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "HOGAR"
        },
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}",
        "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
        "additionalFields": {
          "attendees": [
            "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('attendees0_Attendees', `Escribe aquí el electrónico del cliente`, 'string') }}"
          ],
          "description": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Description', `Escribe toda la información que sea relevante tener presente al momento de la atención: ID paciente, Nombre completo, Servicio solicitado en un párrafo fluido y conciso.`, 'string') }}",
          "sendUpdates": "all",
          "summary": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', `Cita - \"nombre del cliente\" - \"tratamiento\"`, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        -144,
        464
      ],
      "id": "60dca3b0-f17c-492f-83fe-fbb42cfd50f5",
      "name": "Create Appointment",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "NMgihaDZvoR0hvUi",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Modifica una cita existente en Google Calendar. Necesita el eventId del evento a modificar (obtenido de Fetch Booked Time Slots). Envía los campos que quieras cambiar.",
        "operation": "update",
        "calendar": {
          "__rl": true,
          "value": "fk4b3crhg0sm78ssqhr4a97gds@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "HOGAR"
        },
        "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', 'ID del evento de Google Calendar a modificar', 'string') }}",
        "updateFields": {
          "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('New_End', 'Nueva fecha/hora de fin en formato ISO 8601. Ejemplo: 2026-02-19T10:45:00-05:00', 'string') }}",
          "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('New_Start', 'Nueva fecha/hora de inicio en formato ISO 8601. Ejemplo: 2026-02-19T10:00:00-05:00', 'string') }}",
          "summary": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('New_Summary', 'Nuevo título de la cita si cambió', 'string') }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        0,
        464
      ],
      "id": "4c879f36-4d21-41a7-9f4d-2305e43f85b9",
      "name": "Reschedule Appointment",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "NMgihaDZvoR0hvUi",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Cancela y elimina una cita de Google Calendar. Necesita el eventId del evento a eliminar (obtenido de Fetch Booked Time Slots).",
        "operation": "delete",
        "calendar": {
          "__rl": true,
          "value": "fk4b3crhg0sm78ssqhr4a97gds@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "HOGAR"
        },
        "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', 'ID del evento de Google Calendar a eliminar/cancelar', 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        144,
        464
      ],
      "id": "037beb49-0877-4920-a70d-4e8b00262602",
      "name": "Cancel Appointment",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "NMgihaDZvoR0hvUi",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('User message').item.json.chat_id}}",
        "contextWindowLength": 30
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        -160,
        256
      ],
      "id": "e505bd77-5b06-4b88-97ca-cf92b923e08a",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "nQ1hEsVJOCSLTyZ1",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Consulta una fecha y devuelve \"festivo\": true o \"festivo\": false,",
        "url": "https://festivos.com.co/api/v1/festivos/check",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "date",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters0_Value', `Fecha en formato ISO 8601 ej \"2026-01-01\"`, 'string') }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.4,
      "position": [
        304,
        464
      ],
      "id": "5e67e838-b4c2-4dd9-8514-d0a2963b1707",
      "name": "Ckeck if is Holiday",
      "credentials": {
        "httpBearerAuth": {
          "id": "gXa7int861q7YE40",
          "name": "Festivos Colombia"
        }
      }
    },
    {
      "parameters": {
        "instanceName": "docconmigo",
        "options": {}
      },
      "type": "n8n-nodes-evolution-api-english.evolutionApiTrigger",
      "typeVersion": 1,
      "position": [
        -5264,
        224
      ],
      "id": "9c864525-11ee-450f-976e-a74479b89c9e",
      "name": "WhatsApp Message",
      "webhookId": "9f557efb-ae8b-47f9-8f70-98b0c0ac24ca",
      "credentials": {
        "evolutionApi": {
          "id": "MTfRdIBnvLQio1rU",
          "name": "docconmigo"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "a7f36c0c-8d67-43ba-b1b5-19ce621171bc",
              "leftValue": "={{ $json.message.event }}",
              "rightValue": "messages.upsert",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -4816,
        224
      ],
      "id": "8fb8401c-e962-4e11-93e6-8c42d7fdb69a",
      "name": "is a message?"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "f75cbc18-9e64-4993-84be-a35df1860ea5",
              "leftValue": "={{ $json.message.is_from_me }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -4592,
        224
      ],
      "id": "965cdd1e-4ba1-48e8-8304-a67f5914e178",
      "name": "is from me?"
    },
    {
      "parameters": {
        "jsCode": "const payload = $json;\nconst data = payload.data || {};\nconst msg = data.message || {};\nconst key = data.key || {};\n\nconst message = {\n  event: payload.event || '',\n  chat_id: key.participant || key.remoteJid || '',\n  is_from_me: key.fromMe,\n  sender_name: data.pushName || '',\n  timestamp: data.messageTimestamp\n    ? new Date(data.messageTimestamp * 1000).toISOString()\n    : '',\n  content: {\n    exists: false,\n    message_type: 'unknown'\n  }\n};\n\n// -------- TEXT --------\nif (msg.conversation || msg.extendedTextMessage) {\n  message.content = {\n    exists: true,\n    message_type: 'text',\n    id: key.id || '',\n    text:\n      msg.conversation ||\n      msg.extendedTextMessage?.text ||\n      ''\n  };\n}\n\n// -------- AUDIO --------\nif (msg.audioMessage) {\n  message.content = {\n    exists: true,\n    message_type: 'audio',\n    id: key.id || '',\n    mimetype: msg.audioMessage.mimetype || ''\n  };\n}\n\n// -------- IMAGE --------\nif (msg.imageMessage) {\n  message.content = {\n    exists: true,\n    message_type: 'image',\n    id: key.id || '',\n    mimetype: msg.imageMessage.mimetype || '',\n    caption: msg.imageMessage.caption || '',\n    text: msg.imageMessage.caption || ''\n  };\n}\n\n// -------- VIDEO --------\nif (msg.videoMessage) {\n  message.content = {\n    exists: true,\n    message_type: 'video',\n    id: key.id || '',\n    mimetype: msg.videoMessage.mimetype || '',\n    caption: msg.videoMessage.caption || '',\n    text: msg.videoMessage.caption || ''\n  };\n}\n\n// -------- DOCUMENT --------\nif (msg.documentMessage) {\n  message.content = {\n    exists: true,\n    message_type: 'document',\n    id: key.id || '',\n    mimetype: msg.documentMessage.mimetype || '',\n    filename: msg.documentMessage.fileName || ''\n  };\n}\n\nreturn [\n  {\n    json: {\n      message\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -5040,
        224
      ],
      "id": "55277c5b-38e2-4e2b-b438-d0b24bde523f",
      "name": "normalized"
    },
    {
      "parameters": {
        "operation": "push",
        "list": "={{ $json.message.chat_id }}",
        "messageData": "={{ $json.message.toJsonString() }}",
        "tail": true
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -4368,
        104
      ],
      "id": "937ee772-1838-4ead-b5ea-45b7ba8ff6ca",
      "name": "write current message",
      "credentials": {
        "redis": {
          "id": "pxMv28NaguDz5dTi",
          "name": "Redis docconmigo"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "message",
        "key": "={{ $json.message.chat_id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -3920,
        104
      ],
      "id": "a08bc1ef-6357-457c-94f3-94c92207444c",
      "name": "read all messages",
      "credentials": {
        "redis": {
          "id": "pxMv28NaguDz5dTi",
          "name": "Redis docconmigo"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -4144,
        104
      ],
      "id": "4c9849f0-964d-4258-a956-d7b86faab189",
      "name": "wait",
      "webhookId": "d0d2d347-1c53-44aa-8925-29e209d3c192"
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "={{ $('normalized').item.json.message.chat_id }}"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -3472,
        104
      ],
      "id": "7487e735-3585-48f0-be99-8170c68def24",
      "name": "delete tail",
      "credentials": {
        "redis": {
          "id": "pxMv28NaguDz5dTi",
          "name": "Redis docconmigo"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = [];\n\nconst messages = $json.message || [];\n\nfor (const raw of messages) {\n  try {\n    const parsed = JSON.parse(raw);\n    items.push({\n      json: {\n        message: parsed\n      }\n    });\n  } catch (e) {\n    // opcional: log o descartar mensajes corruptos\n  }\n}\n\nreturn items;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3248,
        104
      ],
      "id": "e555c557-9c03-4047-a8e1-6fabb2bafab7",
      "name": "SplitOut & Parse"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.content.message_type }}",
                    "rightValue": "=text",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "9995df17-d35a-40f0-ba55-28f035be7f77"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "text"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "897ca1cd-b99b-49ee-8a0b-bb9e4296061e",
                    "leftValue": "={{ $json.message.content.message_type }}",
                    "rightValue": "audio",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "audio"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "edcf7057-0aaf-48af-b1ba-28d12541ddb5",
                    "leftValue": "={{ $json.message.content.message_type }}",
                    "rightValue": "image",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "image"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -3024,
        208
      ],
      "id": "c2c5c07e-1e37-4cf4-b990-98e2b8ec4a58",
      "name": "Switch"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6b980d4b-26ab-4f6c-a703-e2798b051af8",
              "name": "ai_input.text",
              "value": "={{ $json.message.content.text }}",
              "type": "string"
            },
            {
              "id": "a745fe0d-37c1-4d8c-8be3-9a8c42f630c1",
              "name": "ai_input.timestamp",
              "value": "={{ $json.message.timestamp }}",
              "type": "string"
            },
            {
              "id": "e9036f07-0b21-4a63-900f-76a13e3393df",
              "name": "ai_input.chat_id",
              "value": "={{ $('Switch').item.json.message.chat_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2592,
        0
      ],
      "id": "d34244c4-382b-4b68-9579-9e3157d864be",
      "name": "text input"
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        -2352,
        200
      ],
      "id": "8282a26f-d969-48a5-b7f7-6ba22ae59feb",
      "name": "Transcribe a recording",
      "credentials": {
        "openAiApi": {
          "id": "eaR82imfRStkWNpc",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -1904,
        112
      ],
      "id": "ad0e0cb3-e166-4c66-b157-ecb46ed57290",
      "name": "Merge"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "37d7201c-9b3c-49e7-a658-72b481c6ed2d",
              "leftValue": "={{ $json.message.last().parseJson().content.id}}",
              "rightValue": "={{ $('normalized').item.json.message.content.id }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -3696,
        104
      ],
      "id": "b03d4ba2-10e2-4cce-afa1-e25bc0395423",
      "name": "If equal to last message"
    },
    {
      "parameters": {
        "jsCode": "const result = items\n  // filtrar items válidos\n  .filter(item => item.json?.ai_input?.text)\n  // ordenar por timestamp ascendente\n  .sort((a, b) => {\n    const t1 = new Date(a.json.ai_input.timestamp).getTime();\n    const t2 = new Date(b.json.ai_input.timestamp).getTime();\n    return t1 - t2;\n  })\n  // reducir a un solo string\n  .reduce((acc, item) => {\n    const text = item.json.ai_input.text.trim();\n    return acc ? `${acc}\\n${text}` : text;\n  }, '');\n\nreturn [\n  {\n    json: {\n      ai_input: {\n        text: result,\n        chat_id: $input.last().json.ai_input.chat_id\n      }\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1680,
        128
      ],
      "id": "ec64d867-c17d-45ed-b503-f3facdc55788",
      "name": "Sort & Reduce to one String"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6b980d4b-26ab-4f6c-a703-e2798b051af8",
              "name": "ai_input.text",
              "value": "={{ $json['0'].content[0].text }}",
              "type": "string"
            },
            {
              "id": "a745fe0d-37c1-4d8c-8be3-9a8c42f630c1",
              "name": "ai_input.timestamp",
              "value": "={{ $('Switch').item.json.message.timestamp }}",
              "type": "string"
            },
            {
              "id": "d7bfa5a5-d2c9-45bd-9f27-cce0fd01e2c4",
              "name": "ai_input.chat_id",
              "value": "={{ $('Switch').item.json.message.chat_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2128,
        392
      ],
      "id": "c3220c85-25f4-42bf-aeca-16ab3a3a4818",
      "name": "image text"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6b980d4b-26ab-4f6c-a703-e2798b051af8",
              "name": "ai_input.text",
              "value": "={{ $json.text }}",
              "type": "string"
            },
            {
              "id": "a745fe0d-37c1-4d8c-8be3-9a8c42f630c1",
              "name": "ai_input.timestamp",
              "value": "={{ $('Switch').item.json.message.timestamp }}",
              "type": "string"
            },
            {
              "id": "e18d8255-8527-4d02-bf3d-da66cd12859f",
              "name": "ai_input.chat_id",
              "value": "={{ $('Switch').item.json.message.chat_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2128,
        200
      ],
      "id": "9abe725f-7bfc-4938-894c-1262a4f8fbd9",
      "name": "audio text"
    },
    {
      "parameters": {
        "resource": "chat-api",
        "operation": "get-media-base64",
        "instanceName": "docconmigo",
        "messageId": "={{ $json.message.content.id }}"
      },
      "type": "n8n-nodes-evolution-api-english.evolutionApi",
      "typeVersion": 1,
      "position": [
        -2800,
        200
      ],
      "id": "fa96e4ff-e3a4-43ad-a3ff-fd1d00c0f26f",
      "name": "Get base64 audio",
      "credentials": {
        "evolutionApi": {
          "id": "MTfRdIBnvLQio1rU",
          "name": "docconmigo"
        }
      }
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "data.base64",
        "options": {
          "mimeType": "={{ $('Switch').item.json.message.content.mimetype }}"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -2576,
        392
      ],
      "id": "994c373c-ca05-42d8-89d8-de8bcc52fc78",
      "name": "to image file"
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "text": "Dime lo que contiene la imagen en una cadena de texto simple",
        "inputType": "base64",
        "options": {
          "detail": "auto"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        -2352,
        392
      ],
      "id": "711f18d3-5813-4bba-9f08-d887a04259fb",
      "name": "describe image",
      "credentials": {
        "openAiApi": {
          "id": "eaR82imfRStkWNpc",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "resource": "chat-api",
        "operation": "get-media-base64",
        "instanceName": "docconmigo",
        "messageId": "={{ $json.message.content.id }}"
      },
      "type": "n8n-nodes-evolution-api-english.evolutionApi",
      "typeVersion": 1,
      "position": [
        -2800,
        392
      ],
      "id": "eda5ba07-df0d-4ce5-8813-7c59350709ac",
      "name": "Get base64 image",
      "credentials": {
        "evolutionApi": {
          "id": "MTfRdIBnvLQio1rU",
          "name": "docconmigo"
        }
      }
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "data.base64",
        "options": {
          "mimeType": "={{ $('Switch').item.json.message.content.mimetype }}"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -2576,
        200
      ],
      "id": "cf2ae7a1-8893-4820-b032-c64d7a2bcdcb",
      "name": "to audio file"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "recetas_chat",
          "mode": "list",
          "cachedResultName": "recetas_chat"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "session_id": "={{ $json.ai_input.chat_id }}",
            "message": "={\n\"type\": \"ai\",\n\"content\": \"{{ $json.ai_input.text }}\",\n\"tool_calls\": [],\n\"additional_kwargs\": {},\n\"response_metadata\": {},\n\"invalid_tool_calls\": []\n\n}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "session_id",
              "displayName": "session_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "message",
              "displayName": "message",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1232,
        248
      ],
      "id": "774fda2f-d547-4407-b41e-bdd52bf06349",
      "name": "Administrator messages1",
      "credentials": {
        "postgres": {
          "id": "nQ1hEsVJOCSLTyZ1",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "set",
        "key": "={{ $json.message.chat_id }}_bloqueo_bot",
        "value": "bloqueo_bot",
        "expire": true,
        "ttl": 300
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -3808,
        480
      ],
      "id": "4d3a7511-d5cd-49e6-b085-a52ea6a8a249",
      "name": "block ai agent",
      "credentials": {
        "redis": {
          "id": "pxMv28NaguDz5dTi",
          "name": "Redis docconmigo"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "recetas_chat",
          "mode": "list",
          "cachedResultName": "recetas_chat"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "session_id": "={{ $('Sort & Reduce to one String').item.json.ai_input.chat_id }}",
            "message": "={\n\"type\": \"human\",\n\"content\": \"{{ $('Sort & Reduce to one String').item.json.ai_input.text }}\",\n\"additional_kwargs\": {},\n\"response_metadata\": {},\n\n}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "session_id",
              "displayName": "session_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "message",
              "displayName": "message",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -784,
        224
      ],
      "id": "60005099-974c-473c-9b44-803864240cd6",
      "name": "Administrator messages",
      "credentials": {
        "postgres": {
          "id": "nQ1hEsVJOCSLTyZ1",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "bloqueo_bot",
        "key": "={{ $json.ai_input.chat_id }}_bloqueo_bot",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -1232,
        56
      ],
      "id": "adff6de6-9e0d-4387-a6cd-c60f53d23eed",
      "name": "check lock status",
      "credentials": {
        "redis": {
          "id": "pxMv28NaguDz5dTi",
          "name": "Redis docconmigo"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "37d7201c-9b3c-49e7-a658-72b481c6ed2d",
              "leftValue": "={{ $('normalized').item.json.message.is_from_me }}",
              "rightValue": "={{ $('normalized').item.json.message.content.id }}",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1456,
        128
      ],
      "id": "8494719a-aaa6-411c-9f7b-c402c1c2e14c",
      "name": "is from me again?"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "0eff426d-c784-4c7e-a348-73f30d64f3fa",
              "leftValue": "={{ $json.bloqueo_bot }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notExists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1008,
        56
      ],
      "id": "648ea15c-7cd9-4eb1-a459-8686e91107a8",
      "name": "did block finish?"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7a179963-6894-4f1b-ba37-849137a7859b",
              "name": "chat_id",
              "value": "={{ $('Sort & Reduce to one String').item.json.ai_input.chat_id }}",
              "type": "string"
            },
            {
              "id": "dffd0971-ff1b-4285-a21e-5dcddc328cbe",
              "name": "channel",
              "value": "WhatsApp",
              "type": "string"
            },
            {
              "id": "2d4f2f19-525c-4708-a6d6-a5f50e6640e4",
              "name": "text",
              "value": "={{ $('Sort & Reduce to one String').item.json.ai_input.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -784,
        32
      ],
      "id": "2e92e703-e92e-4440-bddb-603cf9ac25d8",
      "name": "User message"
    },
    {
      "parameters": {
        "jsCode": "// Procesar cada item de entrada\nreturn items.map(item => {\n  // Obtener el texto del campo output\n  let text = item.json.output;\n  \n  if (text == null) text = '';\n  if (typeof text !== 'string') {\n    try {\n      text = JSON.stringify(text, null, 0);\n    } catch {\n      text = String(text);\n    }\n  }\n  // Normalizar Unicode\n  try { \n    text = text.normalize('NFC'); \n  } catch {}\n  // Limpiar pero conservando saltos de línea\n  const cleaned = text\n    // Convertir **negrita MD** a *negrita WhatsApp*\n    .replace(/\\*\\*(.+?)\\*\\*/g, '*$1*')\n    // Quitar <style>/<script>\n    .replace(/<style[\\s\\S]*?<\\/style>|<script[\\s\\S]*?<\\/script>/gi, '')\n    // Quitar tags HTML\n    .replace(/<[^>]*>/g, '')\n    // Entidades HTML\n    .replace(/&nbsp;|&#160;/gi, ' ')\n    // Control chars no imprimibles (excepto \\n, \\r, \\t)\n    .replace(/[\\u0000-\\u0008\\u000B-\\u000C\\u000E-\\u001F]/g, '')\n    // Quitar caracteres invisibles (zero-width, bidi)\n    .replace(/[\\u200B-\\u200D\\uFEFF\\u202A-\\u202E\\u2066-\\u2069]/g, '')\n    // Normalizar tabs y espacios\n    .replace(/\\t/g, ' ')\n    // Compactar espacios pero NO toques saltos de línea\n    .replace(/[ ]{2,}/g, ' ')\n    // Limpiar espacios de cada línea\n    .split('\\n').map(line => line.trim()).join('\\n')\n    .trim();\n  // Retornar el item con el output limpio\n  return {\n    json: {\n      output: cleaned\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1312,
        32
      ],
      "id": "27876303-2641-4ef5-9910-2fb980c2242c",
      "name": "Strip HTML & Special Chars"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "db74f5d3-8f59-4b1b-b9b5-444e19bca718",
              "name": "content",
              "value": "={{ $json.output }}",
              "type": "string"
            },
            {
              "id": "2371e3f2-a9c8-4c90-8c14-1ac3a5ad5e24",
              "name": "channel",
              "value": "={{ $('User message').item.json.channel }}",
              "type": "string"
            },
            {
              "id": "80c392f9-6d10-4b51-9ab6-6e3088d003b0",
              "name": "chat_id",
              "value": "={{ $('User message').item.json.chat_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1536,
        32
      ],
      "id": "a590c9da-9b3d-4cde-8b34-792ed2419c1b",
      "name": "Output"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.content }}",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "=`user_msg`:  {{ $json.content }}\n\n# Divide el mensaje `user_msg` si es muy grande. \n\n## Reglas:\n- Divídelo en las partes lógicas que consideres usando el mínimo de partes posible sin perder calidad. Usa máximo tres partes. Dividelas en part1, part2... en formato json. Solo una part1 es obligatoria las demas solo si consideras.\n\n- No generes una parte con texto vacio.\n"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        1760,
        32
      ],
      "id": "2d9354fe-be6c-4582-9750-da06f8a3ddd9",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"part1\": \"obligatoria\",\n\t\"part2\": \"opcional\",\n    \"part2\": \"opcional\"\n}",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1836,
        256
      ],
      "id": "23852aa2-0aec-4bcc-bd51-9474062b4661",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1832,
        464
      ],
      "id": "9bfec390-49c2-425a-96fd-60c04e365f81",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "eaR82imfRStkWNpc",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "output",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        2204,
        32
      ],
      "id": "455d3f3a-aeae-4e80-b87f-bd42191a9f20",
      "name": "Split Out"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        2428,
        32
      ],
      "id": "26e69cbf-5c82-4882-834d-92162fa3241c",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "amount": 0.5
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2876,
        104
      ],
      "id": "201db18f-ad0e-43cb-97bb-2023a0881dce",
      "name": "Wait",
      "webhookId": "45515287-5d8b-430e-a631-4e34881ac3b0"
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "docconmigo",
        "remoteJid": "={{ $('Sort & Reduce to one String').item.json.ai_input.chat_id }}",
        "messageText": "={{ $json.output }}",
        "options_message": {
          "delay": "={{ Math.round(($json.output.length * 0.01) * 1000) }}"
        }
      },
      "type": "n8n-nodes-evolution-api-english.evolutionApi",
      "typeVersion": 1,
      "position": [
        2652,
        32
      ],
      "id": "19002bfb-f979-4455-b025-1c05b979d3cd",
      "name": "Send answer",
      "credentials": {
        "evolutionApi": {
          "id": "MTfRdIBnvLQio1rU",
          "name": "docconmigo"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2652,
        -160
      ],
      "id": "106d012a-3c96-4b61-8b2c-3e66d6412656",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "uznvQAWIWj2wq0bB",
          "mode": "list",
          "cachedResultName": "horarios_drkike",
          "cachedResultUrl": "/projects/F8qgXVtMXdWuVsJc/datatables/uznvQAWIWj2wq0bB"
        },
        "returnAll": true
      },
      "type": "n8n-nodes-base.dataTableTool",
      "typeVersion": 1.1,
      "position": [
        704,
        464
      ],
      "id": "2d6f5b3a-9c67-4cf4-b60a-ab119352ea8a",
      "name": "Bussines Hours"
    },
    {
      "parameters": {
        "toolDescription": "Registrar, actualizar y consultar la base de datos de clientes.",
        "text": "={{ $('User message').item.json.text }}",
        "options": {
          "systemMessage": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('System_Message', ``, 'string') }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 3,
      "position": [
        944,
        256
      ],
      "id": "85a7d9d6-d079-4099-bca8-d6f71117fa92",
      "name": "Customer DB"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Insert rows in a table in Postgres",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "customers",
          "mode": "list",
          "cachedResultName": "customers"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('id', `{document_type}-{document_number} Ej: CC-73203644, TI-1203456789, PP-A12345678, PPT-456789, RC-1205856789`, 'string') }}",
            "name": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('name', `Nombre completo del paciente`, 'string') }}",
            "email": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('email', `Correo electrónico del paciente`, 'string') }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": true,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "name",
              "displayName": "name",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.6,
      "position": [
        960,
        464
      ],
      "id": "f96220c0-1740-4174-91eb-917d40e2dc9e",
      "name": "Create Customer",
      "credentials": {
        "postgres": {
          "id": "nQ1hEsVJOCSLTyZ1",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Select rows from a table in Postgres",
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "customers",
          "mode": "list",
          "cachedResultName": "customers"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.6,
      "position": [
        1088,
        464
      ],
      "id": "a7c2508f-27fd-403e-9c1b-4fa9df231574",
      "name": "Get Customer",
      "credentials": {
        "postgres": {
          "id": "nQ1hEsVJOCSLTyZ1",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5.2-chat-latest",
          "mode": "list",
          "cachedResultName": "gpt-5.2-chat-latest"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -288,
        256
      ],
      "id": "84ba962e-6cea-4e73-b094-9508a4a9299a",
      "name": "Model 1",
      "credentials": {
        "openAiApi": {
          "id": "eaR82imfRStkWNpc",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        560,
        464
      ],
      "id": "3189ca4c-522d-40a2-999f-c1b8805b9c66",
      "name": "Model 3",
      "credentials": {
        "openAiApi": {
          "id": "eaR82imfRStkWNpc",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -432,
        464
      ],
      "id": "97eeb2b6-a7e1-469e-8bea-543b974a05b0",
      "name": "Model 2",
      "credentials": {
        "openAiApi": {
          "id": "eaR82imfRStkWNpc",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        832,
        464
      ],
      "id": "e31af614-f0e8-4eec-84a5-e6a199281ea4",
      "name": "Model 4",
      "credentials": {
        "openAiApi": {
          "id": "eaR82imfRStkWNpc",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "content": "# CLIBOT\n##  Agende de inteligencia artificial para clínicas",
        "height": 112,
        "width": 560,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -496,
        -96
      ],
      "id": "c04d39d2-270a-4034-9674-c660cf3e4abe",
      "name": "Sticky Note"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [
        432,
        464
      ],
      "id": "35a615c2-983a-4730-99ef-eaf33c3e15ae",
      "name": "Calculator"
    }
  ],
  "pinData": {},
  "connections": {
    "Customer Context": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Appointments": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "FAQ's": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Booked Time Slots": {
      "ai_tool": [
        [
          {
            "node": "Appointments",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Create Appointment": {
      "ai_tool": [
        [
          {
            "node": "Appointments",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Reschedule Appointment": {
      "ai_tool": [
        [
          {
            "node": "Appointments",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Cancel Appointment": {
      "ai_tool": [
        [
          {
            "node": "Appointments",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Ckeck if is Holiday": {
      "ai_tool": [
        [
          {
            "node": "Appointments",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp Message": {
      "main": [
        [
          {
            "node": "normalized",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "is a message?": {
      "main": [
        [
          {
            "node": "is from me?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "is from me?": {
      "main": [
        [
          {
            "node": "write current message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "block ai agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "normalized": {
      "main": [
        [
          {
            "node": "is a message?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "write current message": {
      "main": [
        [
          {
            "node": "wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "read all messages": {
      "main": [
        [
          {
            "node": "If equal to last message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "wait": {
      "main": [
        [
          {
            "node": "read all messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "delete tail": {
      "main": [
        [
          {
            "node": "SplitOut & Parse",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SplitOut & Parse": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "text input",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get base64 audio",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get base64 image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "text input": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe a recording": {
      "main": [
        [
          {
            "node": "audio text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Sort & Reduce to one String",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If equal to last message": {
      "main": [
        [
          {
            "node": "delete tail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sort & Reduce to one String": {
      "main": [
        [
          {
            "node": "is from me again?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "image text": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "audio text": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Get base64 audio": {
      "main": [
        [
          {
            "node": "to audio file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "to image file": {
      "main": [
        [
          {
            "node": "describe image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "describe image": {
      "main": [
        [
          {
            "node": "image text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get base64 image": {
      "main": [
        [
          {
            "node": "to image file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "to audio file": {
      "main": [
        [
          {
            "node": "Transcribe a recording",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "block ai agent": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "check lock status": {
      "main": [
        [
          {
            "node": "did block finish?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "is from me again?": {
      "main": [
        [
          {
            "node": "check lock status",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Administrator messages1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "did block finish?": {
      "main": [
        [
          {
            "node": "User message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Administrator messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "User message": {
      "main": [
        [
          {
            "node": "Customer Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Strip HTML & Special Chars": {
      "main": [
        [
          {
            "node": "Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Strip HTML & Special Chars",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Output": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Structured Output Parser",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send answer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send answer": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Bussines Hours": {
      "ai_tool": [
        [
          {
            "node": "FAQ's",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Customer DB": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Create Customer": {
      "ai_tool": [
        [
          {
            "node": "Customer DB",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get Customer": {
      "ai_tool": [
        [
          {
            "node": "Customer DB",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Model 1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Model 3": {
      "ai_languageModel": [
        [
          {
            "node": "FAQ's",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Model 2": {
      "ai_languageModel": [
        [
          {
            "node": "Appointments",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Model 4": {
      "ai_languageModel": [
        [
          {
            "node": "Customer DB",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Calculator": {
      "ai_tool": [
        [
          {
            "node": "Appointments",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "97e5bcb0-c604-4adb-9597-17e2616a9c9f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "477c07c3b197c01d45fc4f359fe8b6634f8c51a5c856e9ed5b49fcbc08d0d88e"
  },
  "id": "odZ_J1VJuYp0xXW8eoJK4",
  "tags": []
}