drkike_dental_n8n_workflow.json
{
  "name": "drkike_dental_n8n_workflow",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -176,
        0
      ],
      "id": "22af32fd-06e8-41fc-b2e0-7bac373bee47",
      "name": "When chat message received",
      "webhookId": "1fa61eae-668c-42c9-9bf2-4ff9fe5291e0"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=`user_msg`: {{ $('When chat message received').first().json.chatInput }}",
        "options": {
          "systemMessage": "=# ROL\nEres un agente de asistencia al cliente en {{$('Customer Context').first().json.customer.name }}. Se trata de un {{ $('Customer Context').first().json.customer.bussines }}. {{ $('Customer Context').first().json.customer.description }}\n\n## Datos de referencia\n- `fecha_hora_actual`: {{ $now }}\n- Zona horaria: {{ $('Customer Context').item.json.customer.bussines_hours.timezone }}\n\n## Responsabilidades:\n- Identificar las necesidades del cliente y consultar al subagente indicado\n- Mantener un flujo conversacional natural\n- Hacer que el cliente se se siente especial y bien atendido\n- Resolver todas las solicitudes de los clientes en cuanto tus herramientas te lo permitan.\n- No inventar respuestas que no has consultado con tus subagentes.\n\n## Reglas de conversación\n- Saludar de manera amable y preguntar en que puedes ayudar.\n- Identificar la necesidad del cliente\n- Obtener los datos del cliente (p. ej. nombre completo, tipo de identificación **del paciente** [Cédula de ciudadanía, Pasaporte, NIT, PPT], número de documento de identificacion **del paciente**, correo electrónico)\n- Solicita un dato a la vez\n- No hacer más de una pregunta en un mensaje\n- Mantén los mensajes lo más cortos posible sin perder calidad.\n- Usa máximo dos emoticons por mensaje.\n\n### Otras\n- Si tras consultar la fecha es un festivo comuinícale que ese día es festivo e intente otra fecha.\n\n## 🧠 Mantener datos del paciente en memoria y pasarlos al subagente de agendamiento\n\n### 1️⃣ Recibir información del usuario\nExtraer los datos del paciente y de la interacción:\n\n- `intención` → faq | agendar\n- `nombre completo`\n- `tipo de documento`\n- `numero de documento`\n- `correo electrónico`\n- `servicio solicitado`\n- `intención de fecha`\n\n### 2️⃣ Crear pensamiento interno del agente principal\n\n{\n  \"internal_thought\": {\n    \"patient\": {\n      \"full_name\": \"Nombre Apellido\",\n      \"document_type\": \"CC\",\n      \"document_number\": \"123456789\",\n      \"email\": \"correo@ejemplo.com\"\n    },\n    \"interaction\": {\n      \"intent\": \"agendar\",\n      \"requested_service\": \"Consulta odontológica\",\n      \"requested_date_intent\": \"el lunes en la mañana\"\n    },\n    \"reasoning\": \"El paciente quiere agendar una cita para el servicio solicitado. Se prioriza su intención de fecha y se buscará el primer slot disponible que cumpla con el rango indicado.\"\n  }\n}\n\n## Herramientas:\n\n### \"Appointments\": Usa esta herramienta para interpretar la intención de fecha usando el mensaje del usuario y consultar la disponibilidad dentro del rango consultado.\n\n### \"FAQ's\": Usa esta herramienta pra consultar información general sobre productos, servicios, precios, horarios, dirección, datos de contacto y cualquier otra información que pueda tener disponible."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        208,
        0
      ],
      "id": "45232d24-1687-4987-ab7b-2bec643d8492",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "997e89e5-eff6-4a9b-ae94-5fbe845e42b1",
              "name": "customer.name",
              "value": "Dr. Kike",
              "type": "string"
            },
            {
              "id": "fb3c90d1-4e52-44fc-bb84-9ad2c51f6b15",
              "name": "customer.bussines",
              "value": "consultorio odontológico",
              "type": "string"
            },
            {
              "id": "2224f4b9-a1d0-4bf2-a1c6-4a79850db585",
              "name": "customer.description",
              "value": "La filosofía es ofrecer a los clientes un servicio de alta calidad y asequible. Su lema es \"Alegramos tu boca, sin entristecer tu bolsillo\"",
              "type": "string"
            },
            {
              "id": "3d27ce6c-b48d-4f4c-8089-a5b2433c51c6",
              "name": "customer.bussines_hours.open",
              "value": "08:00",
              "type": "string"
            },
            {
              "id": "7199f4ea-d285-4d16-8c8c-0baa4d951577",
              "name": "customer.bussines_hours.close",
              "value": "18:00",
              "type": "string"
            },
            {
              "id": "32344df0-cb5c-42ff-904e-90673e26d7ac",
              "name": "customer.bussines_hours.start_lunch_break",
              "value": "12:00",
              "type": "string"
            },
            {
              "id": "27967151-28b2-452b-900f-3a91c17145a3",
              "name": "customer.bussines_hours.end_lunch_break",
              "value": "14:00",
              "type": "string"
            },
            {
              "id": "74b278a7-b3ef-4ac2-b611-c901920f5c61",
              "name": "customer.bussines_hours.timezone",
              "value": "America/Bogota",
              "type": "string"
            },
            {
              "id": "47c2650c-1682-4eac-9604-58e86d29da8d",
              "name": "customer.bussines_hours.scheduling_threshold",
              "value": "2",
              "type": "string"
            },
            {
              "id": "3c126b83-ae24-44b1-8381-32622656c76a",
              "name": "customer.phone_number",
              "value": "573218620030",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        16,
        0
      ],
      "id": "7f659f55-c7aa-4224-8167-4d88cbd20605",
      "name": "Customer Context"
    },
    {
      "parameters": {
        "toolDescription": "=El subagente de agendamiento se encarga de consultar la disponibilidad de citas, agendarlas, reprogramarlas y cancelarlas en el calendario del negocio. \n\nTen muy presente que la hora y fecha en este momento es {{ \n  new Date($now).toLocaleString('es-ES', { \n    weekday: 'long', \n    day: '2-digit', \n    month: 'long', \n    year: 'numeric', \n    hour: '2-digit', \n    minute: '2-digit', \n    hour12: false \n  }) \n}} en la zona horaria {{ $json.customer.bussines_hours.timezone }}.\n\nRecibe la intención de fecha del cliente y la interpreta según reglas específicas: \n1. Si el usuario define específicamente la fecha completa, se usa esa.\n2. Si se sabe la hora, consulta la disponibilidad entre esa hora y los siguientes 60 minutos.\n2. Si el usuario dice “hoy”, se toma la fecha actual\n3. Si menciona el nombre del día de la semana (ej: \"el lunes\"), se busca la primera ocurrencia posterior a hoy.\n4. Si indica franjas como “en la mañana” o “a primera hora” busca la primera cita disponible entre las {{ $json.customer.bussines_hours.open }} y las {{ $json.customer.bussines_hours.start_lunch_break }}\n5. Si indica franjas como “en la tarde” o “después de almuerzo” busca la primera cita disponible entre las {{ $json.customer.bussines_hours.end_lunch_break }} y las {{ $json.customer.bussines_hours.close }}\n6. Respeta la zona horaria.\n\nEn primer lugar consulta si es festivo o no. Si la fecha consultada es festivo no hay disponibilidad ese día a ninguna hora y no se consulta en el calendario.\n\nSi no es festivo, al momento de consultar disponibilidad te devolverán los slots ocupados dentro del rango consultado, por lo que debes descartarlos y elegir el primer slot disponible dentro del rango consultado.\n\nDecuelve siempre la hora el slot de 1 hora que corresponda al primer espacio disponible dentro del rango consultado si no hay nada disponible devuelve no hay disponibilidad en la hora consultada\n\nMantén memoria de los datos del cliente por si no hay disponibilidad y pregunta por si cambia de fecha no consultar al agente principal\n\nIntenta en lo posible no consultar al agente principal si tienes la información para trabajar",
        "text": "={{ $('When chat message received').item.json.chatInput }}",
        "options": {
          "systemMessage": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('System_Message', ``, 'string') }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 3,
      "position": [
        560,
        208
      ],
      "id": "b36687a1-e4f8-4911-a76e-06262a279015",
      "name": "Appointments"
    },
    {
      "parameters": {
        "toolDescription": "Este agente recibe del AI Agent  dos datos: `Start_time` y `End_time`, dentro del rango que estas dos fechas conforman, y cuáles son los time slots ocupados dentro de ese rango. Sabiendo esto, le devuelves el primer time slot disponible dentro del rango consultado.",
        "text": "={{ $('When chat message received').item.json.chatInput }}",
        "options": {
          "systemMessage": "# ROL:\nTu responsabilidad es devolver el primer time slot disponible dentro del rango consultado.\n\n## Herramientas:\n\n### Fetch Booked Time Slots:\n- Devuelve los espacios de tiempo ocupados dentro del rango de fechas especificado para validar disponibilidad.\n\n### Create Appointment:\n- Crea una nueva cita en el calendario para la fecha y hora indicadas.\n\n### Reschedule Appointment:\n- Actualiza la fecha y/o hora de una cita existente manteniendo sus demás datos.\n\n### Cancel Appointment:\n- Cancela una cita existente y la marca como no disponible para futuras programaciones.\n\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 3,
      "position": [
        288,
        208
      ],
      "id": "338bf82f-7057-4e93-b42b-cca283b7ccfd",
      "name": "FAQ's"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Informar al agente orquestador cuáles son las franjas de tiempo ocupadas dentro del rango de tiempo consultado por este.",
        "resource": "calendar",
        "calendar": {
          "__rl": true,
          "value": "fk4b3crhg0sm78ssqhr4a97gds@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "HOGAR"
        },
        "timeMin": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start_Time', ``, 'string') }}",
        "timeMax": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End_Time', ``, 'string') }}",
        "options": {
          "outputFormat": "bookedSlots"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        816,
        432
      ],
      "id": "ae3c1432-1ac0-4d2e-a475-37a526fb8666",
      "name": "Fetch Booked Time Slots",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "NMgihaDZvoR0hvUi",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        80,
        208
      ],
      "id": "4c7becbc-6f85-4dc2-8e2f-1147c36152b1",
      "name": "Model 1",
      "credentials": {
        "openAiApi": {
          "id": "eaR82imfRStkWNpc",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        272,
        368
      ],
      "id": "3189ca4c-522d-40a2-999f-c1b8805b9c66",
      "name": "Model 2",
      "credentials": {
        "openAiApi": {
          "id": "eaR82imfRStkWNpc",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        544,
        368
      ],
      "id": "97eeb2b6-a7e1-469e-8bea-543b974a05b0",
      "name": "Model 3",
      "credentials": {
        "openAiApi": {
          "id": "eaR82imfRStkWNpc",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Crea una nueva cita en Google Calendar. SOLO usa DESPUÉS de verificar disponibilidad con Fetch Booked Time Slots. Envía summary (título), start (fecha/hora inicio ISO 8601) y end (fecha/hora fin ISO 8601).",
        "calendar": {
          "__rl": true,
          "value": "fk4b3crhg0sm78ssqhr4a97gds@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "HOGAR"
        },
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}",
        "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
        "additionalFields": {
          "attendees": [
            "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('attendees0_Attendees', `Escribe aquí el electrónico del cliente`, 'string') }}"
          ],
          "description": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Description', `Escribe aquí el motivo de la cita que haya explicado el cliente en la conversación`, 'string') }}",
          "sendUpdates": "all",
          "summary": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', `Cita - \"nombre del cliente\" - \"motivo\"`, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        976,
        432
      ],
      "id": "60dca3b0-f17c-492f-83fe-fbb42cfd50f5",
      "name": "Create Appointment",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "NMgihaDZvoR0hvUi",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Modifica una cita existente en Google Calendar. Necesita el eventId del evento a modificar (obtenido de Fetch Booked Time Slots). Envía los campos que quieras cambiar.",
        "operation": "update",
        "calendar": {
          "__rl": true,
          "value": "fk4b3crhg0sm78ssqhr4a97gds@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "HOGAR"
        },
        "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', 'ID del evento de Google Calendar a modificar', 'string') }}",
        "updateFields": {
          "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('New_End', 'Nueva fecha/hora de fin en formato ISO 8601. Ejemplo: 2026-02-19T10:45:00-05:00', 'string') }}",
          "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('New_Start', 'Nueva fecha/hora de inicio en formato ISO 8601. Ejemplo: 2026-02-19T10:00:00-05:00', 'string') }}",
          "summary": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('New_Summary', 'Nuevo título de la cita si cambió', 'string') }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        1136,
        432
      ],
      "id": "4c879f36-4d21-41a7-9f4d-2305e43f85b9",
      "name": "Reschedule Appointment",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "NMgihaDZvoR0hvUi",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Cancela y elimina una cita de Google Calendar. Necesita el eventId del evento a eliminar (obtenido de Fetch Booked Time Slots).",
        "operation": "delete",
        "calendar": {
          "__rl": true,
          "value": "fk4b3crhg0sm78ssqhr4a97gds@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "HOGAR"
        },
        "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', 'ID del evento de Google Calendar a eliminar/cancelar', 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        1296,
        432
      ],
      "id": "037beb49-0877-4920-a70d-4e8b00262602",
      "name": "Cancel Appointment",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "NMgihaDZvoR0hvUi",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('When chat message received').item.json.sessionId }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        176,
        208
      ],
      "id": "e505bd77-5b06-4b88-97ca-cf92b923e08a",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "nQ1hEsVJOCSLTyZ1",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Consulta una fecha y devuelve \"festivo\": true o \"festivo\": false,",
        "url": "https://festivos.com.co/api/v1/festivos/check",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "date",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters0_Value', `Fecha en formato ISO 8601 ej \"2026-01-01\"`, 'string') }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.4,
      "position": [
        656,
        432
      ],
      "id": "5e67e838-b4c2-4dd9-8514-d0a2963b1707",
      "name": "Ckeck if is Holiday",
      "credentials": {
        "httpBearerAuth": {
          "id": "gXa7int861q7YE40",
          "name": "Festivos Colombia"
        }
      }
    },
    {
      "parameters": {
        "content": "## TODO\n### No esta respetando el horario de trabajo asi que haremos que consulte FAP\n\n### Crear un sub agente customer para depositar toda la informacion de contacto del cliente incluyendo el historico de citas, tratamientos, pagos, saldos"
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        816,
        80
      ],
      "id": "131c03b7-886b-4c48-9981-1a87644f6f86",
      "name": "Sticky Note"
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Customer Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Customer Context": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Appointments": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "FAQ's": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Booked Time Slots": {
      "ai_tool": [
        [
          {
            "node": "Appointments",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Model 1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Model 2": {
      "ai_languageModel": [
        [
          {
            "node": "FAQ's",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Model 3": {
      "ai_languageModel": [
        [
          {
            "node": "Appointments",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Create Appointment": {
      "ai_tool": [
        [
          {
            "node": "Appointments",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Reschedule Appointment": {
      "ai_tool": [
        [
          {
            "node": "Appointments",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Cancel Appointment": {
      "ai_tool": [
        [
          {
            "node": "Appointments",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Ckeck if is Holiday": {
      "ai_tool": [
        [
          {
            "node": "Appointments",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "2b448468-dcfa-4b24-b3ba-a5c42d88cbad",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "477c07c3b197c01d45fc4f359fe8b6634f8c51a5c856e9ed5b49fcbc08d0d88e"
  },
  "id": "odZ_J1VJuYp0xXW8eoJK4",
  "tags": []
}