drkike_dental_n8n_workflow.json
{
  "name": "drkike_dental_n8n_workflow",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -304,
        0
      ],
      "id": "1bbd6f6d-a5a2-47de-94d4-072d9007c3f1",
      "name": "When chat message received",
      "webhookId": "ad70fe66-4ef9-4291-a979-c86ddea18e67"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3a26e38c-d3d4-4f86-a56b-f42ef8e7bc4a",
              "name": "user_msg",
              "value": "={{ $('When chat message received').first().json.chatInput }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -80,
        0
      ],
      "id": "fb1808aa-b2d2-4ccc-bdaf-b7b8368b1757",
      "name": "User Message"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "997e89e5-eff6-4a9b-ae94-5fbe845e42b1",
              "name": "customer.name",
              "value": "Dr. Kike",
              "type": "string"
            },
            {
              "id": "fb3c90d1-4e52-44fc-bb84-9ad2c51f6b15",
              "name": "customer.bussines",
              "value": "consultorio odontológico",
              "type": "string"
            },
            {
              "id": "2224f4b9-a1d0-4bf2-a1c6-4a79850db585",
              "name": "customer.description",
              "value": "Servicio de odontología general y especializada. Alegramos tu boca, sin entristecer tu bolsillo",
              "type": "string"
            },
            {
              "id": "3d27ce6c-b48d-4f4c-8089-a5b2433c51c6",
              "name": "customer.bussines_hours.open",
              "value": "08:00",
              "type": "string"
            },
            {
              "id": "7199f4ea-d285-4d16-8c8c-0baa4d951577",
              "name": "customer.bussines_hours.close",
              "value": "18:00",
              "type": "string"
            },
            {
              "id": "32344df0-cb5c-42ff-904e-90673e26d7ac",
              "name": "customer.bussines_hours.start_lunch_break",
              "value": "12:00",
              "type": "string"
            },
            {
              "id": "27967151-28b2-452b-900f-3a91c17145a3",
              "name": "customer.bussines_hours.end_lunch_break",
              "value": "14:00",
              "type": "string"
            },
            {
              "id": "74b278a7-b3ef-4ac2-b611-c901920f5c61",
              "name": "customer.bussines_hours.timezone",
              "value": "America/Bogota",
              "type": "string"
            },
            {
              "id": "47c2650c-1682-4eac-9604-58e86d29da8d",
              "name": "customer.bussines_hours.scheduling_threshold",
              "value": "2",
              "type": "string"
            },
            {
              "id": "3c126b83-ae24-44b1-8381-32622656c76a",
              "name": "customer.phone_number",
              "value": "573218620030",
              "type": "string"
            },
            {
              "id": "53a3b251-fba0-4687-a1c8-53fa3fdcdf58",
              "name": "customer.country",
              "value": "Colombia",
              "type": "string"
            },
            {
              "id": "d2f9acb2-34ab-4954-abcc-626d0d3e3240",
              "name": "customer.city",
              "value": "Cartagena",
              "type": "string"
            },
            {
              "id": "463f3b6c-c613-4c60-9b9c-0e5daf56d77f",
              "name": "customer.address",
              "value": "Centro Medico los Ejecutivos Consultorio 209",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        144,
        0
      ],
      "id": "0b7175d3-e0b6-4a6c-9935-efabeb54952a",
      "name": "Customer Context"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('When chat message received').item.json.sessionId }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        496,
        224
      ],
      "id": "42ed0f88-0e08-4860-bd75-32da0fce4912",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "nQ1hEsVJOCSLTyZ1",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('User Message').first().json.user_msg }}",
        "options": {
          "systemMessage": "=## IDENTIDAD\nEres el asistente virtual de {{ $json.customer.name }}, un {{ $json.customer.bussines }}.\n{{ $json.customer.description }}\nTeléfono de contacto: {{ $json.customer.phone_number }}\n\n## ROL\nEres un ORQUESTADOR conversacional. Tu trabajo es:\n1. Entender qué necesita el paciente\n2. Recopilar los datos necesarios UNO A LA VEZ\n3. Delegar la tarea al subagente (tool) correcto cuando tengas datos suficientes\n4. NUNCA inventas información, siempre delegas a los subagentes\n\n## ESTILO DE COMUNICACIÓN\n- Frases cortas y amables, como un recepcionista simpático\n- UNA sola pregunta por mensaje, NUNCA dos o más\n- UN solo dato por mensaje, no pidas nombre Y teléfono juntos\n- Máximo 2 oraciones por respuesta\n- No uses listas ni viñetas, habla natural\n- Si el usuario da varios datos en un mensaje, acéptalos todos sin volver a preguntar\n\n## HORARIO DEL NEGOCIO\n- Lunes a Viernes\n- Apertura: {{ $json.customer.bussines_hours.open }}\n- Cierre: {{ $json.customer.bussines_hours.close }}\n- Almuerzo: {{ $json.customer.bussines_hours.start_lunch_break }} a {{ $json.customer.bussines_hours.end_lunch_break }}\n- Zona horaria: {{ $json.customer.bussines_hours.timezone }}\n- Umbral mínimo de agendamiento: {{ $json.customer.bussines_hours.scheduling_threshold }} horas de anticipación\n\n## SUBAGENTES DISPONIBLES (Tools)\nTienes acceso a estos subagentes. Úsalos cuando tengas los datos necesarios:\n\n1. **agendamiento_agent** - Crear, modificar, cancelar citas o consultar disponibilidad\n   Datos mínimos: nombre del paciente, servicio, fecha y hora preferida\n\n2. **historial_agent** - Consultar tratamientos previos, notas clínicas\n   Datos mínimos: nombre del paciente o número de identificación\n\n3. **facturacion_agent** - Pagos pendientes, abonos, estados de cuenta\n   Datos mínimos: nombre del paciente, tipo de consulta (pago, estado de cuenta)\n\n4. **seguimiento_agent** - Recordatorios, seguimiento post-tratamiento\n   Datos mínimos: nombre del paciente, tipo de seguimiento\n\n5. **faq_agent** - Información general: servicios, PRECIOS, ubicación, horarios\n   Datos mínimos: la pregunta del usuario (siempre listo para delegar)\n\n6. **inventario_agent** - Stock de materiales, insumos, vencimientos\n   Datos mínimos: tipo de consulta (stock general, material específico)\n\n## REGLAS\n- \"¿Cuánto cuesta X?\" → usa faq_agent\n- \"¿Cuánto debo?\" → usa facturacion_agent\n- Si el usuario da su nombre, recuérdalo y úsalo\n- Cuando tengas los datos mínimos, llama al subagente SIN preguntar más\n- No repitas información que el usuario ya dio\n- Si falta un dato, pide SOLO ese dato"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        424,
        0
      ],
      "id": "44132f9b-4da9-4e55-a9c2-0ca6447df31e",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        368,
        224
      ],
      "id": "296e0cef-f49c-422e-898e-ab498ff8ee6a",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "eaR82imfRStkWNpc",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Usa este agente para responder preguntas sobre servicios, precios, ubicación, horarios y cualquier información general del consultorio. Envía la pregunta del paciente.",
        "text": "={{ $('User Message').item.json.user_msg }}",
        "options": {
          "systemMessage": "=## ROL\nEres el agente de información general del consultorio de Dr. Kike.\nTu trabajo es responder preguntas sobre servicios, precios, ubicación y horarios.\n\n## INFORMACIÓN DEL CONSULTORIO\n\n### Servicios y Precios Aproximados\n- Limpieza dental: $80.000 - $120.000 COP\n- Blanqueamiento dental: $350.000 - $500.000 COP\n- Extracción simple: $80.000 - $150.000 COP\n- Extracción de muela del juicio: $200.000 - $400.000 COP\n- Calza (resina): $80.000 - $180.000 COP\n- Endodoncia (conducto): $300.000 - $600.000 COP\n- Corona dental: $400.000 - $800.000 COP\n- Ortodoncia (brackets): desde $2.500.000 COP\n- Diseño de sonrisa: consultar presupuesto personalizado\n\n### Ubicación\n- Dirección: {{ $json.customer.address }}, \n- Ciudad: {{ $json.customer.city }}, {{ $json.customer.country }}\n\n### Horarios\n- Lunes a Viernes: {{ $json.customer.bussines_hours.open }} a {{ $json.customer.bussines_hours.close }}\n- Almuerzo: {{ $json.customer.bussines_hours.start_lunch_break }} a {{ $json.customer.bussines_hours.end_lunch_break }}\n- Sábados: {{ $json.customer.bussines_hours.open }} a {{ $json.customer.bussines_hours.start_lunch_break }}\n- Domingos: Cerrado\n\n### Contacto\n- Teléfono/WhatsApp: 3218620030\n\n### Políticas\n- Las citas requieren mínimo 2 horas de anticipación\n- Los precios son aproximados y pueden variar según evaluación clínica\n- Aceptamos efectivo y transferencia\n- Primera valoración: gratuita\n\n## ESTILO\n- Respuestas cortas y claras, máximo 2-3 oraciones\n- Siempre aclara que los precios son aproximados\n- Si preguntan algo que no sabes, di que con gusto pueden llamar al consultorio para más detalle"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 3,
      "position": [
        624,
        224
      ],
      "id": "a1d3667e-cd33-4b9f-b793-5b5332ffe62b",
      "name": "faq_agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        704,
        432
      ],
      "id": "83f3a97f-9d79-45ba-ac39-a3f90f8224dd",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "eaR82imfRStkWNpc",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "User Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "User Message": {
      "main": [
        [
          {
            "node": "Customer Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Customer Context": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        []
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "faq_agent": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "faq_agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "83ea9d03-1da0-4182-b63a-7f79496cc836",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "477c07c3b197c01d45fc4f359fe8b6634f8c51a5c856e9ed5b49fcbc08d0d88e"
  },
  "id": "WNAJJsxROONxgP_UDv9ZH",
  "tags": []
}